extends layout

block content

  .chat-area
    .container
      h1 Welcome to #{title}, #{name}
    .container#chat-area
      .bg-info.chat-block.ghost#chat-block-template
        .row
          .col-xs-6
            p.lead.text-left
              strong.name-area
          .col-xs-6
            p.text-right.date-area
        .row
          .col-xs-12
            p.message-area


  footer.footer
    .container
        form
          .form-group
            textarea.form-control.textarea-non-resizable#message-type-area(rows="3", placeholder="Your message here...")
          button.btn.btn-primary.btn-block#post-button(type="button") Post


block script
  script(src="javascripts/chat.js")
