extends layout

block style
  link(rel="stylesheet", href="stylesheets/login.css")


block content
  form.form-signin(action="/chat", method="get")
    h2 Please enter your name
    input.form-control.form-field(type="text", placeholder="name", name="name")
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Join FSE Chat Room
